<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.rew.iqgamequiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IQGame">
        <activity android:name=".mainactivities.play.nivels.NivelSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mainactivities.play.questions.QuestionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mainactivities.play.general_knowlage.SelectGeneralKnowlage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainactivities.settings.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainactivities.topglory.TopGlory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainactivities.friends.FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainactivities.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>